.navlinks-container{
    display: flex;
    gap: 10px;
}
@media (max-width: 700px){
    .humberger{
        order: 1;
    }
    .humberger{
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        align-items: center;
        position: relative;
    }
    .humberger span{
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s ease-out;
    }
    .humberger span:nth-child(1), .humberger span:nth-child(3){
        transition: transform 0.3s ease-out;
    }
    .humberger span:nth-child(1){
        transform: translateY(7px);
    }
    .humberger span:nth-child(3){
        transform: translateY(-7px);
    }
    .humberger.open span:nth-child(1){
        transform: translate(0) rotate(135deg);
    }
    .humberger.open span:nth-child(2){
        opacity: 0;
        transition: opacity 0s ease-out;
    }
    .humberger.open span:nth-child(3){
        transform: translate(0) rotate(-135deg);
    }
    .main{
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        height: 100vh;
    }
    .navlinks-container{
        display: flex;
        justify-content: end;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        height: 100vh;
        transform: translate(100%);
        transition:  transform 0.3s ease-out;
    }
    .open{
        transform: translate(0%);
    }
    .hidden{
        display: none;
    }
}