@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui" {
    themes: dark --default, light --preferdark;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Light.ttf");
}

@layer utilities {
    .draw-line {
        stroke-dasharray: 160;
        stroke-dashoffset: 160;
        animation: draw 3s ease forwards;
    }

    @keyframes draw {
        0% {
            stroke-dashoffset: 0;
        }
    }
}