@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui" {
    themes: dark --default, light --preferdark;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Light.ttf");
}
html{
    scroll-behavior:smooth;
}

@layer utilities {
    .draw-line {
        stroke-dasharray: 160;
        stroke-dashoffset: 160;
        animation: draw 3s ease forwards;
    }

    @keyframes draw {
        0% {
            stroke-dashoffset: 0;
        }
    }
}

.move-top {
    opacity: 0;
    animation: move_top 0.6s 0.7s ease-in-out 1 forwards;
}

@keyframes move_top {
    from {
        transform: translateY(30px);
        filter: blur(2px);
    }

    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}